.App {
  text-align: center;
}

.green {
  color: green;
}

.black-bold {
  font-weight: bolder;
  color: black;
}

.login-button {
        background-image: linear-gradient(62deg, #fbab7e, #f7ce68);
    }